{% extends 'base.html.twig' %}

{% block title %}
  Najlepsze auta
{% endblock %}

{% block body %}
    <h1> Nasza oferta</h1>
    <div class="pull-right">
        {{ form_start(form, {attr: {class:'form-inline' }}) }}
        {{ form_widget(form.search, {attr: {placeholder: 'Szukaj'}}) }}
        <button type="submit" class="btn">Szukaj</button>
        {{ form_errors(form.search) }}
        {{ form_end(form) }}
        <br>
    </div>
    <table class="table">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Dodatki</th>
        </tr>
        {% for car in cars %}
            <tr>
               <td>{{ car.make.name }}</td>
               <td>{{ car.model.name }}</td>
               <td><a href="{{ url('show_car', {id: car.id}) }}">Pokaż szczegóły</a></td>
            </tr>
        
        {% endfor %}
    </table>
{% endblock %}

